/* ? Elements */
*{
  display: flex;
}

body {
  flex-direction: column;
}

.navbar > a {
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: 1.5em;
  padding: 1rem;
}

/* ! ID's */
#addTodoLink {
  display: none;
}

/* * Classes */
.dropdown {
  justify-content: space-between;
}

.navbar {
  justify-content: flex-end;
}
